.Social {
  align-items: center;
  background: rgba(0, 0, 0, .22);
  border-radius: 3px;
  color: white;
  display: flex;
  font-size: 1.5em;
  height: 38px;
  justify-content: space-around;
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  width: 142px;
}

.Social a, 
.Social a:hover,
.Social a:visited{ 
  text-decoration: none;
  color: inherit;
}